:root {
  /* Fonts */
  --main-font: roboto, sans-serif;
  --logo-font: raleway, sans-serif;
  /* Text colors */
  --primary-color: #212121;
  --secondary-color: #757575;
  --hero-color: #FFFFFF;
  /* Background colors */
  --primary-bkgcolor: #FFFFFF;
  --secondary-bkgcolor: #2F303A;
  --body-bgk: #F5F5F5;
  /* Others */
  --button-color-hero: #2196F3;
  --button-color: #F5F4FA;
  --link-active: #2196F3;
  --light-bgk: #F5F4FA;
  --button-color-active: #188CE8;
  --logo-header: #000000;
  --contacts-footer: rgba(255, 255, 255, 0.6);
  --social-links: #AFB1B8;
  /* ANIMATION */
  --type: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.page {
  background-color: var(--body-bgk);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  padding: 0 15px 0 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  width: 100%;
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color);
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.36;
    margin-top: 0;
    margin-bottom: 30px;
    max-width: 696px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  padding-bottom: 30px;
}

.link {
  text-decoration: none;
}
.link__contact {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--secondary-color);
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .link__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .link__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.link:focus, .link:hover {
  color: var(--link-active);
}

.list, .list-item,
.link-item, .work-list {
  list-style: none;
}

.work-link {
  text-decoration: none;
}

.active {
  color: var(--link-active);
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__group {
  color: var(--secondary-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .header__group {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header__link .header__item {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1199px) {
  .header__mail {
    padding-top: 21px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1199px) {
  .header__tel {
    padding-bottom: 21px;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: 0;
}

.current::after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  bottom: -2%;
  width: 100%;
  height: 4px;
  background-color: var(--link-active);
  border-radius: 2px;
}
@media screen and (min-width: 1200px) {
  .current::after {
    bottom: -0.3%;
  }
}

.active.current {
  color: var(--link-active);
}

.header__group .list-item + .list-item {
  margin-left: auto;
  margin-right: 0;
}

@media screen and (min-width: 1200px) {
  .header__group li {
    margin-right: 50px;
  }
}

.logo {
  font-family: var(--logo-font);
  color: var(--link-active);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.site-logo {
  color: var(--logo-header);
}

.footer-logo {
  padding: 0;
  margin-bottom: 20px;
}

.nav__list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 45px;
  margin-left: 93px;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}
.nav__link {
  text-decoration: none;
  color: var(--primary-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__list .header__item {
  margin-right: 50px;
}

.link-address {
  fill: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header-img_sm-@1x_result.png);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-img_sm-@1x_result.png);
  background-color: var(--secondary-bkgcolor);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header-img_sm-@2x_result.png);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-img_sm-@2x_result.png);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header-img_md-@1x_result.png);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-img_md-@1x_result.png);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header-img_sm-@2x_result.png);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-img_sm-@2x_result.png);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/imghero_lg-@1x_result.png);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/imghero_lg-@1x_result.png);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/imghero_lg-@2x_result.png);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/imghero_lg-@2x_result.png);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero__btn {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: var(--button-color-hero);
  color: var(--hero-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 24px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
    min-width: 216px;
  }
}
.hero__btn--active:active {
  background-color: var(--button-color-active);
}

.features {
  background-color: var(--primary-bkgcolor);
}
.features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .features__subtitle {
    text-align: center;
  }
}
.features__desk {
  color: var(--secondary-color);
  font-weight: 400;
  line-height: 1.71;
}
@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.features__item {
  max-width: 450px;
  padding-bottom: 30px;
  margin: auto 0;
}
@media screen and (min-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    max-height: 248px;
    -ms-flex-preferred-size: calc((100% - 30px) / 4);
        flex-basis: calc((100% - 30px) / 4);
  }
}
.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__icon-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--light-bgk);
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
}

.services {
  background-color: var(--primary-bkgcolor);
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.services__item {
  width: 370px;
}

.services__card {
  position: relative;
}

.services__description {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-color);
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  right: 0;
  bottom: 0;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links {
  width: 44px;
  height: 44px;
  background-color: var(--primary-bkgcolor);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--social-links);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover,
.social-links:focus {
  color: var(--hero-color);
  background-color: var(--link-active);
}

.socials-icon {
  fill: currentColor;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team {
  background-color: var(--light-bgk);
}
@media screen and (max-width: 767px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
.team__item {
  max-width: 450px;
  background-color: var(--hero-color);
  width: 270px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    max-width: 354px;
  }
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}
.team__position {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 1.19;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.clients {
  background-color: var(--primary-bkgcolor);
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
.clients__icon {
  fill: currentColor;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link {
  color: var(--social-links);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid var(--social-links);
  border-radius: 4px;
  -webkit-transition-property: color, border;
  transition-property: color, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .clients__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    max-width: 226px;
    max-height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    height: 92px;
  }
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--button-color-hero);
}

.footer {
  background-color: var(--secondary-bkgcolor);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 678px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.footer__address {
  margin-bottom: 9px;
}
@media screen and (min-width: 768px) {
  .footer__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footer__address-block {
  padding-bottom: 60px;
}
.footer__sl {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--hero-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bkgcolor);
}
.footer__mail {
  width: 100%;
}
.footer__input {
  padding-left: 16px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  color: var(--light-bgk);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}
.footer__input:focus, .footer__input:hover {
  border-color: var(--link-active);
}
.footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--link-active);
  color: var(--primary-bkgcolor);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__btn:hover, .footer__btn:focus {
  background-color: var(--button-color-active);
}
.footer__send-block {
  margin-top: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__send-block {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__send-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
  }
}
.footer__send {
  fill: currentColor;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__send-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__send-mail {
    display: block;
    margin-left: auto;
  }
}

.address-list,
.contacts {
  color: var(--hero-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.accent {
  color: var(--hero-color);
}

.contacts-list a {
  color: var(--contacts-footer);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contacts-list a {
    margin-bottom: 9px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-mail {
    margin-bottom: 9px;
  }
}

.social-links-block {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .social-links-block {
    margin-left: 70px;
  }
}

.social-links-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .tablet-footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tablet-footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 165px;
  }
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}
.filters__btn {
  border: none;
  background-color: var(--button-color);
  color: var(--primary-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  min-width: 73px;
  margin-right: 8px;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__btn:hover, .filters__btn:focus {
  background-color: var(--link-active);
  color: var(--hero-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-all {
  padding: 6px 25px;
}

.page-body {
  background-color: var(--hero-color);
}

.portfolio__cards {
  background: #FFFFFF;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  padding: 20px 24px 20px 24px;
}
.portfolio__link {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.portfolio__link:hover .overlay, .portfolio__link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .portfolio__img {
    width: 100%;
  }
}

.project-name {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-color);
  margin-top: 4px;
}

@media screen and (max-width: 767px) {
  .works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .work-list {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .work-list {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .work-list {
    max-width: 370px;
  }
}

.cards-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  padding-right: 24px;
  color: var(--hero-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.overlay.is-hidden {
  opacity: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: visibility 750ms, opacity 750ms;
  transition: visibility 750ms, opacity 750ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--hero-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 479px) {
  .modal {
    width: calc(100% - 30px);
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}
.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  background-color: var(--hero-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  fill: var(--button-color-active);
}

input::-webkit-input-placeholder {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

input::-moz-placeholder {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

input:-ms-input-placeholder {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

input::-ms-input-placeholder {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

input::placeholder {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.register-form__title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .register-form__title {
    line-height: 1.15;
  }
}
.register-form__group {
  margin-bottom: 20px;
}
.register-form__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.register-form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}
.register-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register-form__input:focus, .register-form__input:hover {
  border-color: var(--link-active);
}
.register-form__input:focus + .register-form__icon {
  fill: var(--link-active);
}
.register-form__input:hover + .register-form__icon {
  fill: var(--link-active);
}
.register-form__icon {
  position: absolute;
  top: 65%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register-form__desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
@media screen and (min-width: 1200px) {
  .register-form__desc {
    font-size: 14px;
    line-height: 1.71;
  }
}
.register-form__heading {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}
.register-form__message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 18px;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register-form__message:focus, .register-form__message:hover {
  border-color: var(--link-active);
}
.register-form__message::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
}
.register-form__link {
  color: var(--link-active);
}
.register-form__checkbox:checked + .register-form__icons .icon-checked {
  opacity: 1;
}
.register-form__checkbox:checked + .register-form__icons .icon-unchecked {
  opacity: 0;
}
.register-form__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  border: none;
  border-radius: 4px;
  background-color: var(--button-color-hero);
  color: var(--primary-bkgcolor);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register-form__btn:hover, .register-form__btn:focus {
  background-color: var(--button-color-active);
}

.icon-checked {
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-unchecked {
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: var(--primary-bkgcolor);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 400ms;
  transition: 400ms;
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  margin-bottom: auto;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 64px;
}

.menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--primary-bkgcolor);
  border: none;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle:focus,
.menu-toggle:active {
  fill: var(--link-active);
}

.menu-nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.menu-portfolio-link {
  margin-top: 32px;
  margin-bottom: 32px;
}

.menu-tel {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
@media screen and (max-width: 479px) {
  .menu-tel {
    font-size: 26px;
  }
}

.menu-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.menu-socials {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  padding: 0 10px 0 10px;
  color: var(--link-active);
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (max-width: 479px) {
  .menu-socials {
    font-size: 12px;
  }
}/*# sourceMappingURL=main.css.map */