.page {
background-color: var(--body-bgk);
font-family: var(--main-font);
font-size: 14px;
letter-spacing: 0.03em;
}

.container {
padding: 0 15px 0 15px;
margin-left: auto;
margin-right: auto;
max-width: 480px;

@media screen and (min-width: 768px) {
    max-width: 738px;    
}

@media screen and (min-width: 1200px) {
    max-width: 1200px;
}
}
        
.section {
width: 100%;
padding: 60px 0;

@media screen and (min-width: 1200px) {
padding: 94px 0;    
}

}

img {
display: block;
max-width: 100%;
height: auto;
}

.main-title {
font-weight: 900;
font-size: 26px;
line-height: 1.61;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--hero-color);
margin-top: 0;
margin-bottom: 30px;
max-width: 360px;
margin-left: auto;
margin-right: auto;



@media screen and (min-width: 1200px) {
font-size: 44px;
line-height: 1.36;
margin-top: 0;
margin-bottom: 30px;
max-width: 696px;
}

}

.section-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
padding-bottom: 30px;
}

.link {
text-decoration: none;

    &__contact {
    @media screen and (min-width: 768px){
    display: flex;
    gap: 8px;    
    }

    @media screen and (min-width: 1200px) {
    display: flex;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;    
    }
    
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--secondary-color);
    text-decoration: none;     
    }

    &:focus,    
    &:hover {
    color: var(--link-active); 
    }
}

.list, .list-item,
.link-item, .work-list {
list-style:none
}

.work-link {
text-decoration: none;
}

.active {
color: var(--link-active);
}