
.footer {
background-color: var(--secondary-bkgcolor);
padding-top: 60px;
padding-bottom: 60px;
    
    &__container {
    @media screen and (max-width: 678px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    }


    @media screen and (min-width: 1200px) {
    display: flex;    
    align-items: baseline;   
    }
        
    }

    &__address {
    margin-bottom: 9px;

    @media screen and (min-width: 768px) {
    display: flex;    
    }

    @media screen and (min-width:1200px) {
    display: flex;    
    }
        
    }

    &__address-block {    
    padding-bottom: 60px;
    }

    &__sl {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--hero-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));        
    }

    &__social-links {
    display: flex;
    gap: 10px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bkgcolor);
    }

    &__mail {
    width: 100%;   
    }
    
    &__input {
    padding-left: 16px;    
    width: 100%;
    height: 50px;
    background-color: transparent;
    color: var(--light-bgk);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 20px;

    
    
    @media screen and (min-width: 1200px) {
    width: 358px;    
    }
    }

    &__input:focus,
    &__input:hover {
    border-color: var(--link-active);
    }

    &__btn {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    min-width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--link-active);
    color: var(--primary-bkgcolor);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
        
    &__btn:hover,
    &__btn:focus {
    background-color: var(--button-color-active);
    }

    &__send-block {
    margin-top: 20px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
    width:450px;    
    }

    @media screen and (min-width:1200px) {
    display: flex;
    gap: 12px;    
    }
    }

    &__send {
    fill: currentColor;
    }

    &__send-mail {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;       
    }

    @media screen and (min-width: 1200px) {
    display: block;
    margin-left: auto;  
    }
    }

}

    .address-list,
    .contacts {
    color: var(--hero-color);
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    }
    
    .accent {
    color: var(--hero-color);
    }
    
    .contacts-list a {
    color:var(--contacts-footer);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;   
    }
    }      
    
    .contact-mail {

    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;   
    }
    
    }
        
    .social-links-block {    
    padding-bottom: 60px;
    
    @media screen and (min-width: 1200px) {
    margin-left: 70px;    
    }
    }  
        
    .social-links-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color: var(--hero-color);
    margin-bottom: 20px;
    }  
            
.tablet-footer-block {

@media screen and (min-width: 1200px) {
display: flex;    
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
display: flex;
align-items: center;
justify-content: center;
gap: 165px;    
}
}
    