.logo {
    font-family: var(--logo-font);
    color: var(--link-active);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    display: block;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    
    @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;    
    }

    @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 25px;   
    }

    }
    
    .site-logo {
    color: var(--logo-header);
    }

    .footer-logo {        
        padding: 0;
        margin-bottom: 20px;
        }