.menu-btn {
display: flex;
align-items: center;
justify-content: center;

width: 40px;
height: 40px;
padding: 0;
margin-left: auto;

background-color: transparent;
border: none;

cursor: pointer;

@media screen and (min-width: 768px) {
display: none;   
}
}

.menu-container {
position: fixed;
top: 0;
left: 0;
z-index: 1000;

display: flex;
flex-direction: column;
width: 100%;
height: 100%;
padding: 48px 40px;

background-color: var(--primary-bkgcolor);

transform: translateX(100%);
transition: 400ms;

&.is-open {
transform: translateX(0);
}
}

.menu__contacts-list {
display: flex;
flex-direction: column;
gap: 32px;
}

.mobile-menu {
display: flex;
flex-direction: column;
gap: 32px;
margin-bottom: auto;
}

.mobile-socials {
display: flex;
justify-content: space-between;
text-align: center;
margin-top: 64px;
}

.menu-toggle {
position: absolute;
top: 20px;
right: 20px;

background-color: var(--primary-bkgcolor);
border: none;
fill: currentColor;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle:focus,
.menu-toggle:active {
fill:  var(--link-active);  
}

.menu-nav-link {
font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
color: var(--primary-color)
}

.menu-portfolio-link {
margin-top: 32px;
margin-bottom: 32px;
}

.menu-tel {
margin-bottom: 32px;
font-weight: 500;
font-size: 34px;
line-height: 1.18;   
letter-spacing: 0.02em;
color: var(--secondary-color);

@media screen and (max-width: 479px) {
font-size: 26px;    
}
}

.menu-mail {
font-weight: 500;
font-size: 24px;
line-height: 1.17;
letter-spacing: 0.02em;
color: var(--secondary-color);
}

.menu-socials {
font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
padding: 0 10px 0 10px;
color: var(--link-active);
border-right: 1px solid rgba(33, 33, 33, 0.2);

@media screen and (max-width: 479px) {
font-size: 12px;
}
}