.nav {
    &__list {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    min-width: 45px;
    margin-left: 93px;
    margin-right: auto;
    
    @media screen and (max-width: 767px) {
    display: none;
    }

    }

    &__link {
        text-decoration: none;
        color: var(--primary-color);
        
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
}
    
    .nav__list .header__item {
    margin-right: 50px;
    }
        
    .link-address {
    fill: currentColor;
    display: flex;
    gap: 10px;
    }

    