.filters {    
display: flex;
flex-wrap: wrap;
gap: 8px;
margin-bottom: 40px;
        

@media screen and (min-width: 768px) {
display: flex;
justify-content: center;
margin-bottom: 50px;    
}

    &__btn {
    border: none;
    background-color: var(--button-color);
    color: var(--primary-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    border-radius: 4px;
    padding: 6px 22px;
    display: inline-block;
    min-width: 73px;
    margin-right: 8px;      
    
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__btn:hover,
    &__btn:focus {
    background-color: var(--link-active);
    color: var(--hero-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

}   
    
    .btn-all {
    padding: 6px 25px;  
    
    }
    