.socials {
    display: flex;
    gap: 10px;
    justify-content: center;
    }
    
    .social-links {
    width: 44px;
    height: 44px;
    background-color: var(--primary-bkgcolor);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--social-links);
    
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .social-links:hover,
    .social-links:focus {
    color: var(--hero-color);
    background-color: var(--link-active);
    }
    
    .socials-icon {
    fill: currentColor;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    