.team {
background-color: var(--light-bgk);

    &__list {
        @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
        }
        
        
        
        @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;        
        gap: 30px;
        justify-content: center;
        }

        @media screen and (min-width: 1200px) {
        display: flex;
        gap: 30px;
        }
    
    }

    &__item {
    max-width: 450px;
    
    @media screen and (max-width: 767px) {    
    margin-bottom: 30px;       
    }

    @media screen and (min-width: 768px) {
    max-width: 354px;
    }


    background-color: var(--hero-color);
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    }

    &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
    }

    &__position {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 1.19;
    color: var(--secondary-color);
    margin-bottom: 16px;
    }


}
   
    .card {
    padding-top: 30px;
    padding-bottom: 30px;
    }
    